<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>查尔德的世界</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  
  <body class="">
    <div class="navbar navbar-default navbar-static-top">
      <style>
        .body{padding-top:70px}
      </style>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/sessionset/">查尔德的博客</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/index/">博客</a>
            </li>
            <li>
              <a href="/comment_wall/?page=1/">留言板</a>
            </li>
            <li class="active">
              <a href="#">关于我</a>
            </li>
            <li>
              <a href="#">相关网站</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p></p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="font-size:30;font-family:Microsoft YaHei " class="text-center text-success">
            <br>我叫查尔德,在上海西南某高校读书</p>
          <p style="font-size:30;font-family:Microsoft YaHei "
          class="text-center text-danger">email:picardxie@foxmail.com
            <br>除了邮箱外本人不使用任何通讯软件，网站上有留言板可以留言</p>
          <p style="font-size:30;font-family:Microsoft YaHei "
          class="text-center text-primary">
            <br>以下是本人技能点</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">Python</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 70%;">70% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">django</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 60%;">60% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">c++</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 50%;">50% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">图像处理</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 50%;">50% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">linux</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%;">20% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="text-right">盖伦</p>
        </div>
        <div class="col-md-4">
          <div class="active progress progress-striped">
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 100%;">100% Complete</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <legend></legend>
    <p class="text-center" style="font-size:20" draggable="true">
      <small>Built with django+python
        <br>powed by picard
        <br>picardxie@foxmail.com</small>
    </p>
    <small></small>
  </body>

</html>