<html>
<head>
<title>管理员请登陆</title>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-6 span4">
		</div>
		<div class="col-xs-6 span4">
			<form method = 'post' enctype="multipart/form-data">
			    {% csrf_token %}
				<fieldset>
					<legend>登陆</legend> <label>用户名</label><input type="text" id="id_username" type="text" name="username" maxlength="100" /> 
					<label>密码</label><input type="password" name="password1" id="id_password1"  /> 
                    {% if not errors %}
					    <label>请输入</label>
					{% endif %}
					{% for haha in errors %}
					    <label>请检查你的用户名和密码</label>
						<label>{{ haha }}</label>
					{% endfor %}

					<br /> 
					<button class="btn" type="submit">提交</button>
				</fieldset>
			</form>
		</div>
		<div class="col-xs-6 span4">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
		</div>
		<div class="span4">
		</div>
	</div>
</div>
</body>
</html>